/* Animation Keyframes */

@keyframes fadeIn {
	0% { opacity: 0; transform: translate(-10px,0); }
	100% { opacity: 1; transform: translate(0,0); }
}

body {
	font-size: 16px; font-family: 'Roboto', Arial, sans-serif; line-height: 1.2;
}

/* Commons */
*, *::before, *::after { box-sizing: border-box; }
h1,h2,h3,h4,ul { margin: 0; }

.ta-left { text-align: left; }
.ta-center { text-align: center; }
.ta-right { text-align: right; }

.wrapper { width: 100%; padding: 0 42px; }
.wrapper.flex { display: flex; }

header { margin: 20px 0 34px; text-transform: uppercase; color: #D42026; }

header h1,
header h2 { font-size: 1.6875em; flex: 1 1 auto; }
header h1 span, header h2 { font-weight: 400; }

header h1 { position: relative; }
header h1::after { content: ''; display: block; width: 54px; height: 4px; background: #D42026; }

#busca { display: block; width: 400px; margin-bottom: 34px; }
#busca span { display: block; color: #D42025; }
#busca input { width: 100%; padding: 6px 8px 5px; border: 1px solid #a5a5a5; border-radius: 3px; }

#heroes { width: 100%; table-layout: fixed; }
#heroes thead th { padding-right: 10px; text-align: left; color: #fff; }
	#heroes thead th:last-child { padding-right: 0; }

#heroes thead th.personagem { width: 25% }
#heroes thead th.series { width: 25% }
#heroes thead th.eventos { width: 50% }
#heroes thead th span {	display: block; background: #D42026; padding: 9px 16px; }

#heroes tbody tr:hover { background: rgba(212,32,38,0.1); }
#heroes tbody tr td { padding: 20px 0; font-size: 1.3125em; line-height: 1.1; border-bottom: 3px solid rgba(212,32,38,0.5); }

#heroes tbody tr td.personagem div.img-wrapper { display: inline-block; width: 58px; height: 58px; margin: 0 25px 0 16px; border: 1px solid #000; border-radius: 58px; overflow: hidden; vertical-align: middle; }
#heroes tbody tr td.personagem div.img-wrapper img { width: 100%; }
#heroes tbody tr td.personagem h3 { display: inline-block; width: calc(100% - 101px); font-weight: 400; vertical-align: middle; } 

#heroes tbody tr ul { padding: 0 26px 0 16px; list-style: none; }
#heroes tbody tr ul li { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }