/* -- fonts -- */
/*
@font-face {
  font-family: 'NomeDaFont';
  src: url('nomedafont.eot');
  src: url('nomedafont?#iefix') format('embedded-opentype'),
    url('nomedafont.svg#Locaweb-Icons') format('svg'),
    url('nomedafont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/