section#topo
	header
		.videos
			video(autoplay, mute, loop, preload, src="videos/video-code.mp4", type="video/mp4")
			//- video#draw(autoplay, mute, loop, preload, src="videos/video-draw-colormix.mp4", type="video/mp4")
		.center
			include ../svgs/logo.svg
			h1(data-text="Yeshua Emanuel Braz"): span Yeshua Emanuel Braz
			ul
				li Graphic Designer
				li Front End Developer
