.polygon {
  animation: polygon 0.55s backwards;
}

[class*='polygon-']::after {
  content: '';
  width: 100vmax;
  height: 100vmax;
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black;
  z-index: 999;
}

.polygon-enter-active::after {
  animation: polygon 0.5s steps(1) 0.5s reverse backwards;
}

.polygon-leave-active::after {
  animation: polygon 0.5s steps(1) backwards;
}

.polygon-enter-active {
  animation: none 0s 10s;
}

.polygon-leave-active {
  animation: none 0s 10s;
}



@keyframes polygon {
  0% {
    clip-path: polygon(
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%
    );
  }
  10% {
    clip-path: polygon(
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 40%, 60% 50%, 50% 60%, 40% 50%, 50% 40%
    );
  }
  20% {
    clip-path: polygon(
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 40%, 40% 50%, 50% 60%, 60% 50%, 50% 40%,
      50% 30%, 70% 50%, 50% 70%, 30% 50%, 50% 30%
    );
  }
  30% {
    clip-path: polygon(
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 40%, 60% 50%, 50% 60%, 40% 50%, 50% 40%,
      50% 30%, 30% 50%, 50% 70%, 70% 50%, 50% 30%,
      50% 20%, 80% 50%, 50% 80%, 20% 50%, 50% 20%
    );
  }
  40% {
    clip-path: polygon(
      50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%,
      50% 40%, 40% 50%, 50% 60%, 60% 50%, 50% 40%,
      50% 30%, 70% 50%, 50% 70%, 30% 50%, 50% 30%,
      50% 20%, 20% 50%, 50% 80%, 80% 50%, 50% 20%,
      50% 10%, 90% 50%, 50% 90%, 10% 50%, 50% 10%
    );
  }
  50% {
    clip-path: polygon(
      50% 40%, 60% 50%, 50% 60%, 40% 50%, 50% 40%,
      50% 30%, 30% 50%, 50% 70%, 70% 50%, 50% 30%,
      50% 20%, 80% 50%, 50% 80%, 20% 50%, 50% 20%,
      50% 10%, 10% 50%, 50% 90%, 90% 50%, 50% 10%,
      50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%
    );
  }
  60% {
    clip-path: polygon(
      50% 30%, 70% 50%, 50% 70%, 30% 50%, 50% 30%,
      50% 20%, 20% 50%, 50% 80%, 80% 50%, 50% 20%,
      50% 10%, 90% 50%, 50% 90%, 10% 50%, 50% 10%,
      50% 0%, 0% 50%, 50% 100%, 100% 50%, 50% 0%,
      50% -10%, 110% 50%, 50% 110%, -10% 50%, 50% -10%
    );
  }
  70% {
    clip-path: polygon(
      50% 20%, 80% 50%, 50% 80%, 20% 50%, 50% 20%,
      50% 10%, 10% 50%, 50% 90%, 90% 50%, 50% 10%,
      50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%,
      50% -10%, -10% 50%, 50% 110%, 110% 50%, 50% -10%,
      50% -20%, 120% 50%, 50% 120%, -20% 50%, 50% -20%
    );
  }
  80% {
    clip-path: polygon(
      50% 10%, 90% 50%, 50% 90%, 10% 50%, 50% 10%,
      50% 0%, 0% 50%, 50% 100%, 100% 50%, 50% 0%,
      50% -10%, 110% 50%, 50% 110%, -10% 50%, 50% -10%,
      50% -20%, -20% 50%, 50% 120%, 120% 50%, 50% -20%,
      50% -30%, 130% 50%, 50% 130%, -30% 50%, 50% -30%
    );
  }
  90% {
    clip-path: polygon(
      50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%,
      50% -10%, -10% 50%, 50% 110%, 110% 50%, 50% -10%,
      50% -20%, 120% 50%, 50% 120%, -20% 50%, 50% -20%,
      50% -30%, -30% 50%, 50% 130%, 130% 50%, 50% -30%,
      50% -40%, 140% 50%, 50% 140%, -40% 50%, 50% -40%
    );
  }

  100% {
    clip-path: none;
  }
}
