@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Red Hat Mono';
    font-weight: 1 999;
    src: url(~/assets/fonts/RedHatMono.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Red Hat Mono';
    font-style: 'italic';
    font-weight: 1 999;
    src: url(~/assets/fonts/RedHatMono-Italic.ttf) format("ttf");
  }

  @font-face {
    font-family: 'Cabin';
    font-weight: 1 999;
    src: url(~/assets/fonts/Cabin.ttf) format("ttf");
  }
}

@layer utilities {
  @variants responsive {
    .position-center {
      @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }

    .text-shadow {
      text-shadow: theme('spacing[1]') theme('spacing[1]')  2px rgba(0,0,0,.12);
    }

    .text-shadow-sm {
      text-shadow: theme('spacing[0.5]') theme('spacing[0.5]')  2px rgba(0,0,0,.12);
    }

    .text-shadow-lg {
      text-shadow: theme('spacing[1.5]') theme('spacing[1.5]')  2px rgba(0,0,0,.12);
    }
  }
}


:root {
  --primary: theme('colors.primary.500');
  --secondary: theme('colors.secondary.500');
  --white: theme('colors.trueGray.200');
  --black: theme('colors.trueGray.800');
}

html {
  @apply bg-white;
}

html,body {
  @apply font-redhat text-black;
}

html, body, #__nuxt, #__layout {
  @apply h-full;
}

h1,h2,h3,h4,h5 {
  @apply relative font-cabin font-bold;
}

h1::after,
h2::after,
h3::after {
  content: attr(data-text);
  @apply
    absolute
    -bottom-1
    -right-1
    w-full
    h-full
    bg-clip-text
    text-transparent
    pointer-events-none;

  background-image:
    linear-gradient(
      135deg,
      transparent 30%,
      var(--black) 30%,
      var(--black) 50%,
      transparent 50%,
      transparent 80%,
      var(--black) 80%);
  background-size: 5px 5px;
}

h1 { @apply relative text-5xl tracking-tighter; }
h2 { @apply text-5xl; }
h3 { @apply text-4xl; }
h4 { @apply text-3xl; }
h5 { @apply text-2xl; }
strong { @apply text-shadow-sm; }


a {
  box-shadow: inset 0 -4px 0 0 var(--primary);
  transition: box-shadow 0.18s ease-in-out;

  &:hover {
    box-shadow: inset 0 -10px 0 0 var(--secondary);
  }
}
