doctype html
html
	//elementos do head (link,scripts,meta)
	include includes/head.pug

	body

		//header da pag
		include includes/header.pug

		//conteudo principal
		main#app
			include sections/section-topo.pug

		//footer da pagina
		include includes/footer.pug

		//scripts gerais
		script(src="js/vendor.js", defer)
		script(src="js/app.js", defer)